* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    color: #070707;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
}

h2 {
    font-size: 25px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #154C87;
}
h3 {
    font-size: 20px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #154C87;
}  

p {
    font-size: 16px; 
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header, nav, main, footer {
    margin: 2.25rem auto;
    padding: .5rem;
    max-width: 1000px;

}

header, 
footer, 
footer a {
    text-align: center;
    background-color: #154C87;
    color: white;
}

header {
    font-size: 80px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    width: 15px;
    height: 15px;
    float: left;
}
nav {
    text-align: center;
    background-color: #A1DADD;
    
}
footer {
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
