@media only screen and (min-width: 50em){
    .navigation li:first-child{display: none; }
    .navigation li {display: inline-block; margin-right: 11px;}
    .navigation li a {color: rgb(31, 16, 29);}
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        padding: 5px;
    }
    .grid img {
        width: 100%;
    }