body{
    background: whitesmoke;
    box-sizing: border-box;
 
}
header {
    text-align: center;
    font-size: 20px; 
    font-family: 'handlee', 'cursive','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #002458;
    color: white;
    margin: auto;
    padding: 1px;
    max-width: 1000px;
    box-shadow: 0 0 10px #777;
}
.ppcontainer { /* tile and logo*/
    display: block;
    flex-direction: row;
    justify-content: center
    /*margin: .5rem auto;*/
}

#logo {
    display: block;
    float: left;
    width: 3em;
    height: 3em;
    margin: 10px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
}
nav { margin: 0 auto; max-width: 1000px; background-color: #3fbdee; }

    .navigation { list-style: none; text-align: center; }
    .navigation li:first-child {display: flex;}
    .navigation li {display: none;}
    .navigation a {display:block; color:black; padding: .75em; text-align: center; text-decoration: none;}
    .navigation a:hover {color:#fff; background-color: rgba(97, 8, 38, 0.534); font-weight: 700;
}
.responsive li {display: block;}

.active {display: inline;color: #003679} 

.navigation {
    margin: 0;
}
main {
    max-width: 1000px; 
    margin:0 auto;
}
h2 {
    text-align: center; 
    font-size:20px; 
    text-shadow: 3px 3px 5px #777;
   }
.town {
    width: 90%;
    margin: auto;
}
.herodiv {
    position: relative;
    width: fit-content;
    margin: auto;

}
.herodiv img{
    width: 100%
}

.weathersummary {
    position: absolute;
    top: 20px;
    left: 50px;
    background: radial-gradient(#eee,#579ed1);
    padding: .5rem;
    box-shadow: 0 0 30px #777;
    color: black;
}

h3 {
    font-size: 20px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}  

th {
     
    border: black 1px solid;
    margin: 0px;
    background-color:#003679;
    color: white
}

td {
    border: black 1px solid;
    margin: 0px;
   }



.five {
    display: block;
    width: fit-content;
    margin: auto;

}

.founders {
    text-align: center;
    color: black;
    background-color: #3fbdee;
    }

    #fire {
        display: block;
        float: right;
        width: 10em;
        height: 10em;
        margin: 10px;
    }
.map {
    text-align: center;
    color: white;
    background-color: #003679;
    
}
.story { /*Preston page Founders day Fresoc*/
    color:white;
    text-align: justify;
    margin: 10px;
    max-width: 1000px;
}
footer {
    margin: auto;
    padding: .5rem;
    max-width: 1000px;
    text-align: center;
    color: white;
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #002458;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    padding: 5px;
}
.grid img {
    width: 100%;
}
fieldset {
    background-color:#002458;
    color: white; 
    font-size: 20px;
    margin: auto;
    padding: 1px;
    max-width: 1000px;
} 

.welcome {
    position: relative;
    width: fit-content;
    margin: auto;
    max-width: 1000px; 
    text-align: center;
    padding: 1px;
    color: black;
    background-color: #3fbdee;
    margin: auto;
}
.welcomediv img{
    width: 100%
}

.indpg {
    display: flex;
    max-width: 1000px; 
    background-color: whitesmoke;
    margin: auto;
    color:black
    
}
 .container58 { /*index page main boxes*/
    display: flex;
    max-width: 1000px;
    margin: auto;
    flex-flow: row;
    background-color: #777;
    padding: 20px;
    color: black;
    text-align: center;
     }

.box1, .box2, .box3 {/*Preston image on index pg"*/
    flex:3;
    float: left;
    background-color: white;
    padding: 1em;
    font-size: 12px;
    color: black;
    bottom: 1rem;
    align-self: flex-end;
    text-align: center;
    margin: 10px;
    margin-bottom: auto;
    max-width: 200px;
    align-self: stretch;
    }
.indmap { /*contact info on index page*/
    max-width: 1000px; 
    margin: auto;
    text-align: center;
    color: white;
    background-color: #003679;
}
