body{
    background: white;
    box-sizing: border-box;
   
}

header {
    text-align: center;
    font-size: 25px;
    font-family: 'marcellus', 'cyrsive', 'Lucida Sans';
    background-color: #0f100e;
    color: white;
    margin: auto;
    padding: 1px;
    max-width: 1000px;
    }
main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: .1em;
}
    .topcontainer { /*title and logo*/ 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #logo {
        display: block;
        float: left;
        width: 3em;
        height: 3em;
        margin: 10px;
    }

    nav { margin: 0 auto; max-width: 1000px; background-color: #d1d7cc; }

    .navigation { list-style: none; text-align: center; }
    .navigation li:first-child {display: flex;}
    .navigation li {display: none;}
    .navigation a {display:block; color:black; padding: .75em; text-align: center; text-decoration: none;}
    .navigation a:hover {color:#fff; background-color: rgba(97, 8, 38, 0.534); font-weight: 700;}
        .navigation li.active {color:#fff; background-color: #ffd203; font-weight: 700;}   

.responsive li {display: block;}

.navigation {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    
}

.story { /*Home page Ft. Collins*/
    display: grid;
    color:white;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    background-color: #9ba890;
    }
 .info h2 {
    font-size: 40px;
    text-align: center;
    }
.info {/* section with temple info home page*/
    display: flex;
    flex-direction: column;
    background-color:#50574a;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    color: white;
    list-style: none;
}
#ftcol{ /*ft. collins temple image*/
    height: 35em;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 30px #0f100e;
    align-content: center;
    
} 

footer {
    text-align: center;
    font-size: 15px;
    font-family: 'marcellus', 'cyrsive', 'Lucida Sans';
    background-color: #0f100e;
    color: white;
    margin: auto;
    max-width: 1000px;
    padding: .1em;
}
.free { /* information above the footer*/
    display: flex;
    flex-direction: column;
    background-color: #9ba890;
    text-align: left;
    max-width: 1000px;
    margin: 1em;
    color: black;
   }
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #50574a; 
    font-size: 20px;
    margin: auto;
    padding: 1px;
    max-width: fit-content;
    border: 1em;
    
    } 
label {
   display: block;
    padding: 20px;
    max-width: 100%;
    }
.thank {
    font-size: 30px;
    text-align: center;
    padding: 60px;
    }
#contact { /*contact page h2*/  
    text-align: center;
    color: #50574a;
       }
.topr { /*contact page main container*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
      }
  #gmap {
      width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
/*.main {
    height: 100px;
    background-color: #ffd203;
    padding-left: 30px;
   }*/
.map {
    display: flex;
    flex-direction: column;
}  
.party {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9ba890;
    margin-bottom: 0;
    padding: 1em;
    font-size: 20px;
    }

#marriage {
    height: 10em;
    margin: 10px;
    }
.reception  { 
    text-align: justify;
    margin: 0px;
    max-width: 1000px;
    }
.senior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #50574a;
    margin-bottom: 0;
    padding: 1em;
    font-size: 20px;
    color: white;
    }
        
#missionary {
    height: 10em;
    margin: 10px;
    }
.mstay  { 
    color:white;
    text-align: justify;
    margin: 0px;
    max-width: 1000px;
    }
.welcome {
     position: relative;
     width: fit-content;
     margin: auto;
     max-width: 1000px; 
     text-align: center;
     padding: 1px;
     color: white;
     margin: auto;
     font-size: 25px;
    }
.welcomediv img{
    width: 100%
    }
 .container58 {
    background-color: #50574a;
    text-align: center;
} 
.box1 {
      background-color: #50574a;
      color: white;
      font-size: 25px;
      text-align: center;
      list-style: none;
  }  
   .ftsz {
      list-style: none;
      font-size: 20px;
  }
  .tb {
      background-color: #50574a;
  }
  .box10 {
    color: #50574a;
    font-size: 15px;
    text-align: center;
    list-style: none;
}  
.svpg {
    background-color: #9ba890;
}
.swim {
    float: right;
    padding-bottom: 15em;
    padding-right: 5em;
    margin-left: 5em;
}
a {
    color: white;
}
#marriage {
    height: 200px;
    box-shadow: 0 0 30px #0f100e;
    
}