body{
    background: white;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 25px;
    font-family: 'marcellus', 'cyrsive', 'Lucida Sans';
    background-color: #193207;
    color: white;
    margin: auto;
    padding: 1px;
    max-width: 1000px;
    }

    .topcontainer { /*title and logo*/ 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #logo {
        display: block;
        float: left;
        width: 3em;
        height: 3em;
        margin: 10px;
    }

    nav { margin: 0 auto; max-width: 1000px; background-color: #c0c7bb; }

    .navigation { list-style: none; text-align: center; }
    .navigation li:first-child {display: flex;}
    .navigation li {display: none;}
    .navigation a {display:block; color:black; padding: .75em; text-align: center; text-decoration: none;}
    .navigation a:hover {color:#fff; background-color: rgba(97, 8, 38, 0.534); font-weight: 700;}
        .navigation li.active {color:#fff; background-color: #ffd203; font-weight: 700;}   

.responsive li {display: block;}

.navigation {
    margin: 0;
}
.info {/* section with temple info home page*/
    display: flex;
    flex-direction: row;
    background-color:#818f77;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
}
#ftcol{ /*ft. collins temple image*/
    height: 15em;
    margin: 20px;
} 
.story { /*Home page Ft. Collins*/
    color:white;
    text-align: left;
    margin: 0px;
    max-width: 1000px;
    background-color: aquamarine
    }
footer {
    text-align: center;
    font-size: 25px;
    font-family: 'marcellus', 'cyrsive', 'Lucida Sans';
    background-color: #276b7d;
    color: white;
    margin: auto;
    max-width: 1000px;
}
.free { /* information above the footer*/
    display: flex;
    flex-direction: column;
    background-color: #a9cecf;
    text-align: left;
    max-width: 1000px;
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #003679; 
    font-size: 20px;
    margin: auto;
    padding: 1px;
    max-width: fit-content;
    border: 1em;
    } 
label {
   display: block;
    padding: 20px;
    max-width: 100%;
    }
.thank {
    font-size: 30px;
    text-align: center;
    padding: 60px;
    }
#contact { /*contact page h2*/  
    text-align: center;
       }
.topr { /*contact page main container*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
.main {
    height: 100px;
    background-color: #ffd203;
    padding-left: 30px;
   }
#subject {
    height: 40px;
}
.map {
    display: flex;
    flex-direction: column;
}  
.party {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #3fbdee;
    margin-bottom: 0;
    padding: 1em;
    font-size: 20px;
    }

    #marriage {
        height: 10em;
        margin: 10px;
    }
    .reception  { 
        color:white;
        text-align: justify;
        margin: 0px;
        max-width: 1000px;
        }
        .senior {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            background-color: #3fbdee;
            margin-bottom: 0;
            padding: 1em;
            font-size: 20px;
            }
        
            #missionary {
                height: 10em;
                margin: 10px;
            }
            .mstay  { 
                color:white;
                text-align: justify;
                margin: 0px;
                max-width: 1000px;
                }