body {
    background: white;
}
header {
    text-align: center;
    font-size: 80px; 
    font-family: 'handlee', 'cursive','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #154C87;
    color: white;
    margin: 10px auto;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
    
}

#logo {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    margin: 10px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
}
#townpic {
    display: block;
    float: center;
    width:
}
h2 {
    text-align: center;
   }
.herodiv {
    margin: 10px auto;
    position: relative;
    border: 1px dashed cyan;
    width: 100%x;
    height: 250px;

}
.hero-ph {
    margin: 10px, auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 960px;
    height: 300px;
}

.weathersummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background: radial-gradient (#154C87);
    border: 1px, solid navy;
    padding: 5rem;
    box-shadow: 0 0 30px #777;
}

h3 {
    font-size: 20px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #154C87;
}  

p {
    font-size: 16px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header, nav, main, footer {
    margin: 2.25rem auto;
    padding: .5rem;
    max-width: 1000px;
    text-align: center;
}    

nav { margin: 0 auto; max-width: 760px; background-color: #A1DADD; }
    .navigation { list-style: none; text-align: center; }
    .navigation li:first-child {display: block;}
    .navigation li {display: none;}
    .navigation a {display:block; color:black; padding: .75rem; text-align: center; text-decoration: none;}
    .navigation a:hover {color:#fff; background-color: rgba(97, 8, 38, 0.534); font-weight: 700;
}
.responsive li {display: block;}
.active {display: inline;color: #154C87} 

footer {
    text-align: center;
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #154C87;
    color: white;
}
