html {
    font-family: 'Ubuntu', sans-serif;
}
table {
    border: 1px; color: grey;
    text-align: center;
}
thead {
    background-color: #628ca6;
    color: black;
    font-weight: bold;
    font-size: 18pt;
}
.headings {
    background-color: #628ca6;
    color: white;
    font-size: 14pt;
}
#dollar {
    background-color: #628ca6;
    color: white; 
}
tfoot {
    background-color: #628ca6; 
    color: black;
}