html {
    font-family: 'Ubuntu', sans-serif;
}
table {
    border: 1px; color: grey;
    text-align: center;
}
thead {
    background-color: #628ca6;
    color: black;
    font-weight: bold;
    font-size: 18pt;
}
.months tr:nth-child(even) {
    background-color:#e7ffed;
}
.months tr:nth-child(odd) {
    background-color:#e7f0ed; 
}
#dollar {
    background-color: #628ca6;
    color: white; 
}
tfoot {
    background-color: #628ca6; 
    color: black;
    text-align: center;
}